.header {
  display: flex;
  width: 100%;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  .logo {
    height: 2.5rem;
    img {
      height: 100%;
    }
  }
  button {
    background-color: #eaffff;
    border: 2px solid #c2e1ff;
    transition: 150ms ease-in-out;
    color: #181818;
    &:hover {
      background-color: #99ccff;
    }
  }
}

.main-part {
  flex: 1;
  padding: 1rem 0;
  width: 100%;
  .main-part-inner {
    height: 100%;
    width: 100%;
  }
}
